* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

#main {
}

#header {
  height: 46px;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#nav {
  display: inline-block;
}

#nav > li:hover .subnav {
  display: block;
}

#nav > li {
  display: inline-block;
  list-style: none;
  position: relative;
}

#nav > li > a {
  text-decoration: none;
  color: #fff;
  padding: 0 24px;
  line-height: 46px;
  text-transform: uppercase;
}

#nav > li:hover > a {
  display: block;
  color: #000;
  background-color: #ccc;
}

#nav .subnav {
  display: none;
  position: absolute;
  top: 46px;
  left: 0;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#nav .subnav > li {
  display: block;
}

#nav .subnav > li > a {
  padding: 0 12px;
  line-height: 32px;
  color: #000;
  text-decoration: none;
}

#nav .subnav > li:hover > a {
  background-color: #ccc;
  display: block;
}

#nav .nav-arrow-down {
  font-size: 12px;
}

#header .search-btn {
  float: right;
  padding: 14px 20px;
  cursor: pointer;
}

#header .search-btn:hover {
  background-color: #ff0000;
}

#header .search-icon {
  color: #ffff;
}

#slider {
  position: relative;
  padding-top: 50%;
  background: url("./assets/img/slider/slider1.jpg") top center / cover
    no-repeat;
}

#slider .text-content {
  position: absolute;
  bottom: 48px;
  width: 100%;
  color: #fff;
  text-align: center;
}

#slider .text-heading {
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 32px;
}

#slider .sub-heading {
  font-size: 14px;
}

#content {
}

#content .content-section {
  width: 800px;
  padding: 64px 0;
  margin: 0 auto;
}

#content .heading-section {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}

#content .sub-heading-section {
  font-size: 15px;
  text-align: center;
  margin: 25px 0;
  font-style: italic;
  opacity: 0.6;
}

#content .about-text {
  font-size: 15px;
  text-align: justify;
  line-height: 1.4;
}

#footer {
}
